<table border="0" cellspacing="0" cellpadding="3" width="100%">
  <tr>
    <td width="50%"><span class="key sleep"></span> Sleep</td>
    <td width="50%"><span class="key friends"></span> Friends</td>
  </tr>
  <tr>
    <td width="50%"><span class="key personal"></span> Personal</td>
    <td width="50%"><span class="key work"></span> Work</td>
  </tr>
  <tr>
    <td width="50%"><span class="key family"></span> Family</td>
    <td width="50%"><span class="key wasted"></span> Wasted</td>
  </tr>
</table>