<div class="btns">
  <%= link_to "+ Day", new_day_path %>
  <%= link_to "Summary", summary_path, class: "summary-btn" %>
</div>
<ul id="day-list">
  <% @days.each do |d| %>
    <li><%= link_to d.created_at.strftime("%A, %b %d, %Y"), d %></li>
  <% end %>
</ul>
