<ul id="day-list">
  <% @days.each do |d| %>
    <li><%= link_to d.created_at.strftime("%A, %b %d, %Y"), d %></li>
  <% end %>
</ul>
<div class="new-days-btn">
  <%= link_to "+", new_day_path %>
</div>